{% extends "base.html" %}
{% block content %}
<title>Change Password</title>
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "css/profile.css" %}'>
{% include "nav.html" %}

<style>
    h1{
    text-align: center;
    font-family: "Comfortaa";
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;

}
form{
    text-align: center;
}


.container{

    font-family: "Comfortaa", sans-serif;
    align-self:center;
    display: block;
    background-color: #b197fc;
    height: auto;
    width: 50%;
    padding-bottom: 20px;
    display: inline-block;
    padding-bottom: 30px;
    border-radius: 20px;

    
}
    
input {
    width: 50%;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(203, 180, 180);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
  }



.grid-container{
    font-size: 30px;
    padding: 20px;
}
#link {
    background-color: #7950f2;
    border: none;
    color: white;
    padding: 16px 50px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    font-family: "Comfortaa", sans-serif;


}

#link:hover {
    color: black;
    background-color: #bfaaff;

}

.ul{
    font-size: 20px;
    background-color: none;
    width: auto;
    list-style-type: none;
    padding-top: 20px;
}


    
</style>

<h1>Change password</h1>
<br>
<div>
    <form method="POST" >
        {% csrf_token %}
        <div class="container" >
            <h3 class='grid-container' >Old Password</h3>
            <div class="forms"> {{ form.old_password }} </div>
            <h3 class='grid-container' >New Password</h3>
            <div class="forms"> {{ form.new_password1 }} </div>
            <ul  class="ul">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li></ul>
            <h3 class='grid-container' >New Password Confirmation</h3>
            <div class="forms"> {{ form.new_password2 }} </div>
            <button id="link">change password</button>
        </div>
        
    </form>
</div>
{% include "footer.html" %}


{% endblock %}


